// Your styles go here
:root {                                             
    box-sizing: border-box;                           
}
*,                                                  
::before,                                           
::after {                                           
    box-sizing: inherit;                              
}

body {
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
    background-color: yellow;
    font-family: Helvetica, Arial, sans-serif; 
    text-transform: uppercase;                                 
}

.container {
    display: flex;
    padding: .5rem;
    margin-top: 2rem;
    border: 2px solid black;
    flex-flow: column nowrap;
    background-color: rgba(255, 255, 255, 0.8);

}

div {
    flex: 1;
}

.flex {
    display: flex;
}

// not conviced this does anything
.container > .top {
    display: flex;
    flex-flow: column nowrap;
}

.top > .site-top > .item-top {
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 5px;
    background-color: rgb(255, 10, 226);
}

.middle > .site-middle > .item-middle {
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    margin: 5px;
    background-color: rgb(255, 10, 226);
}

// flex puts items side by side
.mid-bot {
    // border: 2px solid rgb(241, 0, 0);
    display: flex;  
}

//column stacks the items on the left top of each other
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
}
.bottom > .left > .item-left {
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    background-color: rgb(255, 10, 226); 
}

.bottom > .right > .item-right {
    border: 2px solid rgb(0, 0, 0);       
    margin: 5px;  
    background-color: rgb(255, 10, 226);
    padding: 1rem;
}


